/* This file is for Opera, but might work in Chrome as well. */
/* For Opera, use this in conjunction with camparr.user.js */

table > tbody > tr > td > table > tbody > tr {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-spacing: 15px 7px !important; }

@media (min-width: 635px) and (max-width: 935px) {
    table > tbody > tr > td > table > tbody > tr {
        width: 49%;
    }
}

@media (min-width: 935px) and (max-width: 1585px) {
    table > tbody > tr > td > table > tbody > tr {
        width: 32%;
    }
}

@media (min-width: 1585px) {
    table > tbody > tr > td > table > tbody > tr {
        width: 24%;
    }
}


/* This part highlights the new post notification link in */
/* orange. Just prepend each line with // to disable it. */
table > tbody > tr > td > table > tbody > tr >
  td > blockquote > ul > li > span.tiny > span > a:not([title^="Stop"]) {
    background-color: #ffaa00 !important; }
