.pct-alias {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.pct-alias:not(.inactive):hover {
    color: navy;
    filter: drop-shadow(0px 0px 5px cornflowerblue);
    -webkit-filter: drop-shadow(0px 0px 5px cornflowerblue);
}

.pct-alias.inactive {
    cursor: default;
}

.pct-alias i {
    font-size: 19px;
}

.pct-alias i::before {
    content: "perm_identity";
}

.pct-alias.inactive i::before {
    content: "check";
    opacity: 0.35;
}

.pct-greyscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale") !important;
    -webkit-filter: grayscale(100%) !important;
    opacity: 0.5 !important;
}

.pct-icon {
    background-size: 15px 15px;
    display: inline-block;
    height: 15px;
    vertical-align: bottom;
    width: 15px;
}

.pct-allowedIcon {
    background-image: url('allowed.svg');
}

.pct-notAllowedIcon {
    background-image: url('not_allowed.svg');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('chrome://pct/skin/MaterialIcons-Regular.woff2') format('woff2'),
         url('chrome://pct/skin/MaterialIcons-Regular.woff') format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
