tr.pct-campaign {
    border-spacing: 15px 7px !important;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

@media (min-width: 635px) and (max-width: 935px) {
    tr.pct-campaign {
        width: 49%;
    }
}

@media (min-width: 935px) and (max-width: 1585px) {
    tr.pct-campaign {
        width: 32%;
    }
}

@media (min-width: 1585px) {
    tr.pct-campaign {
        width: 24%;
    }
}

@media (max-device-width: 680px) {
    tr.pct-campaign.pct-mobile {
        font-size: 400%;
        margin-bottom: 1em;
        width: 100%;
    }

    tr.pct-campaign.pct-mobile h3 {
        font-size: 1em;
    }

    tr.pct-campaign.pct-mobile .tiny {
        font-size: 75%;
    }
}
