tr.pct-campaign {
    border-spacing: 15px 7px !important;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

@media (min-width: 635px) and (max-width: 935px) {
    tr.pct-campaign {
        width: 49%;
    }
}

@media (min-width: 935px) and (max-width: 1585px) {
    tr.pct-campaign {
        width: 32%;
    }
}

@media (min-width: 1585px) {
    tr.pct-campaign {
        width: 24%;
    }
}
