#mobile-section {
    display: none;
}

#saved {
    background-color: lightgreen;
    -moz-border-radius: 0px;
    border-radius: 0px 0px 10px 10px;
    font-size: 1.3em;
    opacity: 0;
    padding: .3em .6em;
    position: fixed;
    right: 20%;
    top: -3px;
}

.attribution {
    font-size: 75%;
    text-align: center;
}

.blacklist-buttons {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    margin-left: 1em;
}

.blacklist-buttons button {
    margin-bottom: 1em;
    min-width: 6.5em;
}

.blacklist-members-control {
    display: flex;
    overflow: hidden;
}

.blacklist-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.checkbox,
.picker,
.radio {
    align-items: center;
    display: flex;
    margin: .5em 0px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.ease {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.left-column,
.right-column {
    flex: 1 1 50%;
}

.left-column {
    display: flex;
}

body {
    color: rgb(48, 57, 66);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 12pt;
    margin: 0px;
    padding-bottom: 3em;
}

body .pct-options-link {
    display: none;
}

body.pct-link-body > div,
body.pct-link-body > header {
    display: none;
}

body.pct-link-body .pct-options-link {
    display: block;
    font-size: 16pt;
    margin-top: .5em;
}

button {
    font-size: 100%;
    padding: 0.35em 1em;
    text-align: center;
}

div.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 1em 4%;
}

header {
    margin-bottom: 2.5em;
}

header > h1:after {
    background-color: #eee;
    content: ' ';
    display: block;
    height: 1px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

h1 {
    color: black;
    font-size: 1.6em;
    font-weight: normal;
    margin-left: 18px;
}

h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

h4 {
    color: black;
}

input[type='checkbox'] {
    margin-right: .5em;
}

input[type='color'] {
    font-size: 100%;
    height: 1.5em;
    margin-left: 1em;
    width: 3em;
}

label {
    padding: 0.5em;
}

section {
    flex-grow: 1;
    font-weight: normal;
    margin-bottom: 2.5%;
    margin-top: 1%;
}

section:not(:last-child) {
    margin-right: 5%;
}

section.subsection {
    padding-left: 1em;
}

section.subsection h4 {
    margin-left: -1em;
}

input[type='text'],
select {
    flex: .5 1 50%;
    font-size: 100%;
    padding: 0.5em 0.5em;
}

@media (max-device-width: 680px) {
    #mobile-section {
        display: block;
    }

    #saved {
        font-size: 100%;
    }

    .blacklist-buttons {
        align-items: unset;
    }

    body {
        font-size: 300%;
    }

    button {
        border-radius: 0.1em;
    }

    input[type='checkbox'],
    input[type='radio'] {
        margin-bottom: auto;
        margin-right: 4.5em;
        margin-top: auto;
        transform: scale(5);
    }
}
