body {
    color: rgb(48, 57, 66);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 75%;
}

section {
    margin-bottom: 24px;
    margin-top: 8px;
    max-width: 600px;
    padding-left: 18px;
}

h1 {
    color: black;
    font-size: 1.6em;
    font-weight: normal;
    margin-left: 18px;
}

header {
    margin-bottom: 25px;
}

header > h1:after {
    background-color: #eee;
    content: ' ';
    display: block;
    height: 1px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

#saved {
    background-color: lightgreen;
    -moz-border-radius: 0px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0;
    position:absolute;
    font-size: 1.3em;
    left: 350px;
    top: -3px;
    padding: 3px 6px;
}

.ease { 
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

h4 {
    color: black;
}

input[type='checkbox'] {
    bottom: 2px;
    height: 13px;
    position: relative;
    vertical-align: middle;
    width: 13px;
}

input[type='radio'] {
    border-radius: 100%;
    bottom: 3px;
    height: 15px;
    position: relative;
    vertical-align: middle;
    width: 15px;
}

input[type='color'] {
    margin-left: 5px;
    position: relative;
    vertical-align: middle;
}

div.radio, div.checkbox {
    padding-bottom: 7px;
    padding-top: 7px;
}

select[multiple] {
    width: 130px;
}

.blacklist-members-control {
    overflow: hidden;
}

#pct-blacklist, .blacklist-buttons {
    float: left;
}

.blacklist-buttons {
    margin-left: 10px;
    width: 65px;
}

.blacklist-buttons button {
    min-width: 65px;
}

section.subsection {
    padding-left: 10px;
}

section.subsection h4 {
    margin-left: -10px;
}

.left-column {
    float: left;
    width: 180px;
}

.right-column {
    float: left;
    width: 250px;
}
