#pct-options-link {
    color: #4d3a98;
    display: none;
    margin-top: 1em;
    opacity: .35;
    position: absolute;
    right: 1em;
}

.pct-alias {
    cursor: pointer;
    text-align: center;
    /* color: green; */
    display: inline-block;
    vertical-align: top;
}

.pct-alias:not(.inactive):hover {
    color: navy;
    filter: drop-shadow(0px 0px 5px cornflowerblue);
    -webkit-filter: drop-shadow(0px 0px 5px cornflowerblue);
}

.pct-alias.inactive {
    cursor: initial;
}

.pct-alias i {
    font-size: 19px;
}

.pct-alias i::before {
    content: "perm_identity";
}

.pct-alias.inactive i::before {
    content: "check";
    opacity: 0.35;
}

.pct-alias-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.pct-alias-header > div {
    align-items: center;
    display: flex;
}

.pct-alias-header ~ table {
    width: 100%;
}

.pct-alias-set {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 5px;
}

.pct-alias-set.pct-data-view {
    margin: 10px;
    padding: 0px;
}

.pct-alias-set.pct-data-view > td {
    align-items: center;
    display: inline-flex;
    flex-basis: 100%;
    padding: 5px 10px;
}

.pct-alias-set.pct-data-view > td:not(:last-child) {
    border-bottom: 1px solid #e6e6f0;
}

.pct-alias-set.pct-data-view > td > a {
    align-items: center;
    flex: 0 0 26%;
    display: inline-flex;
    justify-content: flex-start;
    word-break: break-word;
}

.pct-alias-set.pct-data-view > td > a > * {
    padding-right: 15px;
    text-align: left;
}

.pct-alias-set.pct-data-view > td > a > img:first-child {
    height: 35px;
    width: 35px;
}

.pct-alias-set.pct-data-view > td br {
    display: none;
}

.pct-alias-set.pct-data-view > td > span {
    text-align: left;
}

.pct-alias-set .pct-deactivator {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
}

.pct-alias-set .pct-deactivator:hover {
    color: navy;
    filter: drop-shadow(0px 0px 5px cornflowerblue);
    -webkit-filter: drop-shadow(0px 0px 5px cornflowerblue);
}

.pct-alias-set .pct-deactivator::after {
    color: #8989B7;
    content: 'not_interested';
    font-family: 'Material Icons';
    font-feature-settings: 'liga';
    font-size: 14px;
    font-variant: none;
    line-height: 1;
    padding: 2px;
}

.pct-alias-set.inactive .pct-deactivator::after {
    content: 'replay';
}

.pct-greyscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale") !important;
    -webkit-filter: grayscale(100%) !important;
    opacity: 0.5 !important;
}

.pct-icon {
    background-size: 15px 15px;
    display: inline-block;
    height: 15px;
    vertical-align: bottom;
    width: 15px;
}

h1 .pct-icon {
    vertical-align: top;
}

.pct-allowedIcon {
    background-image: url('/skin/allowed.svg'), url('chrome-extension://__MSG_@@extension_id__/skin/allowed.svg');
}

.pct-notAllowedIcon {
    background-image: url('/skin/not_allowed.svg'), url('chrome-extension://__MSG_@@extension_id__/skin/not_allowed.svg');
}

.pct-chatIcon {
    background-image: url('/skin/chat_bubble.svg'), url('chrome-extension://__MSG_@@extension_id__/skin/chat_bubble.svg');
}

.pct-newMessageIcon {
    background-image: url('/skin/new_message.png'), url('chrome-extension://__MSG_@@extension_id__/skin/new_message.png');
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
}

.pct-lockIcon {
    background-image: url('/skin/lock.png'), url('chrome-extension://__MSG_@@extension_id__/skin/lock.png');
    background-size: 10px 10px;
    height: 10px;
    margin-left: -0.65em;
    top: auto !important;
    width: 10px;
}

.pct-unlockIcon {
    background-image: url('/skin/unlock.png'), url('chrome-extension://__MSG_@@extension_id__/skin/unlock.png');
    background-size: 10px 10px;
    height: 10px;
    margin-left: -0.65em;
    top: auto !important;
    width: 10px;
}

.pct-link {
    display: inline-block;
}

.pct-chatMessages {
    height: 84%;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.pct-chatMessages.disabled {
    display: none;
}

.pct-chatMessage.history {
    color: slategrey;
}

.pct-chatMessage.history a:link,
.pct-chatMessage.history a:visited {
    color: slategrey !important;
}

.pct-chatMessage.history .user {
    color: slategrey !important;
}

.pct-chatMessage.pct-info {
    color: darkcyan;
    font-style: italic;
}

.pct-chatMessage.smote {
    font-style: italic;
}

.pct-chatMessage .datetime {
    color: lightslategrey;
    font-size: 6pt;
}

.pct-chatMessage .user {
    color: forestgreen;
}

.pct-chatMessage .user.DM {
    color: firebrick;
}

.pct-chatMessage .user.self {
    color: #4d3a98;
}

#pct-chat-input {
    font-size: 8pt;
    height: 10%;
    margin-left: -2px;
    margin-top: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    width: 98%;
}

#pct-chat-widget {
    background-color: rgb(230, 228, 255);
    box-shadow: 0px 0px 4px 1px #ccc;
    display: none;
    font-size: 8pt;
    height: 30%;
    min-height: 250px;
    padding-left: .3em;
    padding-top: .1em;
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 22%;
    z-index: 1000;
}

#pct-chat-widget[draggable=true] {
    cursor: move !important;
}

#pct-chat-widget.minimized {
    display: block;
    height: initial;
    min-height: 0px;
}

#pct-chat-widget.minimized #pct-chat-titlebar {
    padding-bottom: .5em;
}

#pct-chat-widget.minimized .innards {
    display: none;
}

#pct-chat-widget .innards {
    height: 96%;
}

#pct-chat-titlebar {
    padding-bottom: .2em;
    padding-left: .5em;
    padding-top: .1em;
}

#pct-chat-title {
    border-bottom: 1px solid lightgrey;
    color: navy;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    padding-left: 0.35em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 77%;
}

#pct-chat-titlebar .pct-button {
    position: absolute;
    top: 0px;
}

#pct-chat-titlebar .pct-button:hover {
    cursor: pointer;
}

#pct-chat-titlebar .pct-close {
    background-image: url('/skin/not_allowed.svg'), url('chrome-extension://__MSG_@@extension_id__/skin/not_allowed.svg');
    right: 0px;
}

#pct-chat-titlebar .pct-minimize {
    background-image: url('/skin/minimize.png'), url('chrome-extension://__MSG_@@extension_id__/skin/minimize.png');
    right: 16px;
}

#pct-chat-titlebar .pct-restore {
    background-image: url('/skin/restore.png'), url('chrome-extension://__MSG_@@extension_id__/skin/restore.png');
    right: 16px;
}

#pct-chat-titlebar .pct-rosterIcon {
    background-image: url('/skin/who_online.png'), url('chrome-extension://__MSG_@@extension_id__/skin/who_online.png');
    right: 32px;
}

#pct-chat-titlebar .pct-back {
    background-image: url('/skin/back.png'), url('chrome-extension://__MSG_@@extension_id__/skin/back.png');
}

#pct-roster-container {
    height: 84%;
    overflow-x: hidden;
    overflow-y: auto;
}

#pct-roster-container:not(.disabled) + .innards {
    display: none;
}

#pct-roster-container.disabled {
    display: none;
}

.pct-roster {
    display: block;
}

.pct-roster.disabled {
    display: none;
}

.pct-roster .pct-info {
    color: darkcyan;
}

.pct-toggle {
    align-items: center;
    background-color: #e6e6f0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    height: 25px;
    justify-content: center;
    margin-left: 10px;
    width: 25px;
}

.pct-toggle:hover {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.pct-toggle > input {
    display: none;
}

.pct-toggle > input + .pct-indicator::before {
    color: #4d3a98;
    font-family: 'Material Icons';
    font-feature-settings: 'liga';
    font-size: 18px;
    font-variant: none;
    line-height: 1;
}

.pct-toggle > input:not(:checked) + .pct-indicator::before {
    content: 'view_headline';
}

.pct-toggle > input:checked + .pct-indicator::before {
    content: 'apps';
}

.pct-toggle > .pct-indicator {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-device-width: 680px) {
    #pct-options-link {
        display: block;
    }

    #pct-options-link > i {
        font-size: 600%;
    }
}
